.NavBar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 2px solid white;
    margin-bottom: 2rem;
    
    padding: 1rem 3rem;
}

.NavBarTitle{
    font-size: 32px;
}


.TaskForm{
    position: sticky;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 300px;
    min-width: 200px;

    height: 300px;

    padding: 1rem;
    border: 2px solid white;
}

.TaskFormInput{
    background: transparent;
    border-style: solid;
    overflow: auto;
    resize: none;

    font-size: 1rem;
    color: white;

    height: 85%;
}

.TaskFormSubmit{
    background-color: rgb(34, 34, 34);
    color: white;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
}

.TaskList{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    gap: 1rem;
    
    padding-right: 2.5rem;
    width: 75vw;
    height: 75vh;

    overflow-y: auto;
    overflow-x: hidden;
}

.TaskList::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.Task{
    display: flex;
    flex-direction: row-reverse;
    gap: 0.5rem;

    justify-content: space-between;
    align-items: center;

    width: 100%;

    padding: 1rem;
    border: 2px solid white;
}

.TaskData{
    font-size: large;
    overflow: auto;

    width: 90%;
}

.TaskOptions{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.TaskOptions > button{
    background-color: rgb(34, 34, 34);
    color: white;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
}

.OptionsToggle:hover{
    background-color: green;
}

.OptionsEdit:hover{
    background-color: darkslateblue;
}

.OptionsDelete:hover{
    background-color: darkred;
}

.HomePage{
    display: flex;
    flex-direction: row;
    align-items: top;
    margin-left: 5%;
    margin-right: 5%;
    gap: 2rem;
}


.ThemeButton{
    background-color: var(--BG_COLOR);
    border: 2px solid white;
    padding: 0.5rem;
}

.ThemeButton:hover{
    cursor: pointer;
    animation: BopUp 0.5s;
}

@keyframes BopUp{
    25%{
        transform: translateY(0.5rem);
    }
    50%{
        transform: translateY(-0.5rem);
    }
    100%{
        transform: translateY(0);
    }
}