#root {
	color: #F0F6FC;
}

.Header{
	display: flex;
	margin-bottom: 2rem;
	margin-top: 1rem;
	justify-content: space-between;
	align-items: center;
}

.Header-Title{
	margin-left: 1rem;
	font-size: large;
}

.Header-Button{
	width: 2rem;
	margin-right: 1rem;
}


.Task{
	width: 100%;
	display: flex;
	border: #5e6771 2px solid;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.Task > *{
	margin-left: 20px;
}

.Content{
	flex-basis: 80%;

}

.Task-Button{
	border: 1px solid;
	border-radius: 0.5rem;
	
	width: 5rem;
	align-self: center;
	color: #F0F6FC;
	height: 2rem;
}

.Edit{
	border-color: rgb(134, 128, 255);
	background-color: blue;
}

.Edit:active{
	background-color: rgb(0, 0, 135);
}

.Delete{
	border-color: rgb(255, 110, 110);
	background-color: red
}

.Delete:active{
	background-color: rgb(159, 0, 0);
}

.CreateTask{
	margin-bottom: 2rem;
}


input{
	border:rgb(134, 128, 255) 1px solid;
	border-radius: 0.4rem;
	background-color: #0D1117;
	color: #F0F6FC;
	height: 2rem;
	margin-left: 2.5%;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.title{
	width: 30%;
}

.desc{
	width: 61%;
}

.EditForm{
	position: relative;

}

button{
	background-color: #5e6771;
	color: #F0F6FC;
	width: 10rem;
	height: 2rem;

	border: #f0f6fc 1px solid;
	border-radius: 0.6rem;
	margin-left: 40%;
}

.TaskList{
	width: 80%;
	margin-left: 9.99%;
}