:root {
  --BG_DARK: #0d1117;
	--BG_LIGHT: #e7dac7;

	--TEXT_DARK: #ffffff;
	--TEXT_LIGHT: #000000;

  background-color: var(--BG_DARK);
	color: var(--TEXT_DARK);
	overflow: hidden;
}

@media(max-width: 768px) {
  :root {
	overflow: auto;
	}
}
